CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
Research
ffmpeg_examples/video_player/transcoding
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
cmake-build-*/
*.png
*.jpeg
*.h5
*.3bhady
*.samir
*.pyc
*.pcy
*.ali
*.mkv
*.mp4
