CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
cmake-build-*/
*.png
*.jpeg
*.hd5
*.3bhady
*.samir
*.ali
